<!-- View for About page -->
<!-- Specify this to inject page name into layout page -->
@{
    ViewBag.Title = "About Page";
}


<h2> About LiftLog </h2>

<div class="row">
    <div class="col-md-12">
        <h5 style="font-weight: bold"> LiftLog is a fitness application used to log weight lifting results online and keep track of your training progress in the gym.</h5>
        <p>
            The application allows individuals to register a personally verified account with authorized access to personal information and workout process (login and logout).
            Further, the application allows them to register their workout progress (i.e. repetitions and weight) for a predefined set of exercises.
            Also, the user is able to update his personal information and what data may be used in the user management page where personal information and consent options are present.
            The user may see what personal data is stored in a PDF through the user settings and may export data to another company in a JSON format (data portability).
            If the user does not wish to have his account anymore, it may be deleted along with all personal data acquired by LiftLog in the past.
            Users are able to challenge each other based on their workout results and may compare these results.
            Any data exchange between users and the web application is encrypted using HTTPS and data exchanged between users is authorized based on which consent they have given in the user management profile.
            The consent options help determine what personal data LiftLog may use and determine what functionality users are able to use (the consent type delegates a set of claims to the user used for authorization).
            In the future, it will be possible for individuals to see the progress in a convenient format (e.g. a graph displaying their strength increase for a given exercise).
        </p>
    </div>
</div>