<!-- This view page is presented when access is denied -->

@{
    ViewData["Title"] = "Access Denied";
}

<header>
    <h1 class="text-danger">Sorry!</h1>
    <p class="text-danger">You do not have access to this resource at the moment. </p>
,
    <p class="text-justify"> The requested page will not be available if you have not provided consent in profile settings </p>
    <p class="text-justify"> Your consent enables LiftLog to use any (agreed on) personal data required to use the requested page. </p>
    <p class="text-justify"> For example, the workout page requires the workout checkbox in the profile page to be enabled. </p>
    <p class="text-justify"> This allows LiftLog to manage and use your workout data in the workout functionality. </p>
</header>