<!-- This view is presented after having gone through the forget password steps. -->

@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h2>@ViewData["Title"].</h2>
<p>
    Please check your email to reset your password.
</p>